.list {
  max-height: 336px;
  overflow-y: auto;
  margin-top: 20px;
  padding: 0 14px;
  .list-item {
    position: relative;
    .btn-delete {
      position: absolute;
      right: 20px;
      opacity: 0;
      text-transform: uppercase;
    }
    &:hover {
      .btn-delete {
        opacity: 100;
        transition: opacity linear 0.3s;
      }
    }
  }
}
