.controller {
  .actions-area {
    display: flex;
    justify-content: center;
    .btn-group {
      display: flex;
      width: 50%;
      .btn {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        &.mat-button-toggle-checked {
          background-color: unset;
        }
        &-large {
          flex-grow: 6;
        }
      }
    }
  }
}
