<mat-card class="controller">
  <mat-card-content>
    <app-watches [ticks]="ticks"></app-watches>
  </mat-card-content>
  <mat-card-actions class="actions-area">
    <mat-button-toggle-group class="btn-group" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle class="btn btn-large" (click)="control()">
        <mat-icon>{{ paused ? "play_arrow" : "pause"}}</mat-icon>
        {{ paused ? "Start" : "Pause"}}
      </mat-button-toggle>
      <mat-button-toggle class="btn" (click)="save()"><mat-icon>save</mat-icon></mat-button-toggle>
      <mat-button-toggle class="btn" (click)="stop()"><mat-icon>delete</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-actions>
</mat-card>
